    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/libs/jquery-3.3.1.min.js"></script>
    <script src="/libs/jquery.date-dropdowns.js"></script>
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css">
    <script src="/libs/bootstrap/js/bootstrap.js"></script> 
    <link rel="icon" href="/images/yinyang.ico">
    <script src="/libs/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/libs/select2.min.css">
