<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header.ejs%>
    <title>Tử Vi - Bắt đầu xem</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bat-dau-xem-style.css?version=56">
    <script>
            //Prevent form from resubmission
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }

            $(document).ready(function () {

                $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').trigger('focus')
                });

            });

            function showTooltip() {
                return false;
            }
        </script>
    </head>

    <body>
        <div style="display: none" id="alert"><%= alert %></div>
        <div class="container-fluid" id="container">
            <form id="thong-tin">
                <div class="row no-gutter" id="tieu-de">
                    <div class="col-6" id="tieu-de-nam-nu">
                        NAM
                    </div>
                    <div class="col-6" id="tieu-de-nam-nu">
                        NỮ
                    </div>
                </div>
                <!-- HỌ TÊN - NĂM SINH -->
                <div class="row no-gutter" id="hoten-namsinh">
                    <div class="col-6">
                        <select id="hoten-namsinh-nam"></select>
                    </div>
                    <div class="col-6">
                        <select id="hoten-namsinh-nu"></select>
                    </div>
                </div>

                <!-- TUỔI -->
            <!--     <div class="row" id="tuoi" style="padding: 5px">
                <div class="col-6" id="tuoi-nam">
                </div>
                <div class="col-6" id="tuoi-nu">
                </div>
            </div> -->

            <!-- MẠNG -->
            <!--     <div class="row" id="mang">
                <div class="col-6" id="mang-nam">
                </div>
                <div class="col-6" id="mang-nu">
                </div>
            </div> -->

            <!-- XEM VỀ - NĂM XEM -->
            <div class="row" id="xemve-namxem">
                <div class="col-6">
                    <span>Năm xem</span>:
                    <select id="namxem">
                        <% arr.forEach(function(val){ %>
                        <option value="<%= val %>"><%= val %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="col-6">
                    <span>Xem về</span>:
                    <select id="xemve">
                        <option value="1">Cơ bản</option>
                        <option value="2">Tốt/xấu trong năm</option>
                        <option value="5">Hướng phong thủy</option>
                        <option value="3">Kết hôn</option>
                        <option value="4">Con cái</option> 
                    </select>
                </div>
            </div>

            <!-- CHI TIẾT -->
            <table id="tieudebang">
                <tbody>
                    <tr> 
                        <td id="tieudeXemVe"></td>
                        <td id="tieudeNam" ></td>
                        <td id="tieudeNu"></td>
                    </tr>
                </tbody>
            </table>

            <div id="div-bangchitiet">
                <table id="table-bangchitiet">
                    <tbody id="bangchitiet">
                    </tbody>
                </table>
                <div style="margin-top: 5%; display: none" id="warning">
                    Hãy nâng cấp lên<b> Tài khoản VIP </b>để được xem hoặc gửi bấm Gửi thông tin để được tư vấn miễn phí.
                </div>
            </div>
            <div class="row" id="xem-tu-tru">
                <div class="col-6">
                    <button value="Tính năng này chưa được mở!" onclick="return showTooltip()" class="tooltip-button" style="text-align: center;">Tứ trụ <br>NAM</button>
                </div>
                <div class="col-6">
                    <button value="Tính năng này chưa được mở!" onclick="return showTooltip()" class="tooltip-button" style="text-align: center;">Tứ trụ <br>NỮ</button>
                </div>
            </div>
            <div style="padding: 20px; padding-bottom: 0">
                <button id="btnGuiThongTinTuVan" type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Gửi thông tin để được tư vấn miễn phí</button>
            </div>
            <div style="padding-bottom: 30px">
                <a href="/" style="text-decoration:none; color:gold; font-weight: bold;">Trở về trang chủ</a>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="frmGuiThongTin">
                        <div style="padding: 15px; box-shadow: 0 0 5px gold; background-color: rgba(0,0,0,0.8);">
                            <div style="float: left">
                                <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold; text-shadow: 0 0 20px gold">Thông tin liên hệ</h5>
                            </div>
                            <div style="float:right">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseFrmGuiThongTin">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="sdtGui" style="font-weight: bold">
                                       <!--  <img src="/images/phone.png" width="30" height="30" style="border:none"/> --> Vui lòng liên hệ số hotline 0913.400.159 (Zalo/Viber/Call/Sms) hoặc để lại số điện thoại để chúng tôi liên hệ:
                                    </label>
                                    <input type="number" class="form-control" placeholder="*Bắt buộc: số điện thoại gồm 10 số" id="sdtGui" value="">
                                    <textarea type="text" class="form-control" placeholder="Bạn muốn tư vấn về Gia đạo/Tình yêu/Sự nghiệp/Kinh doanh...?" id="content" style="margin-top: 10px; height: 120px"></textarea>
                                </div>
                                <div class="row no-gutter" style="width: 90%; padding: 10px">
                                    <div class="col-8" style="width: 100%;">
                                        <button type="button" style="border-radius: 5px; width: 100px;" id="btnGui" class="btnModal">Gửi</button>
                                    </div>
                                    <div class="col-4" style="width: 100%">
                                        <button class="btnModal" type="button" data-dismiss="modal" style="border-radius: 5px; width: 100px;">Đóng</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ynghiakethopcungsanh" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="frmGuiThongTin">
                        <div style="padding: 15px; box-shadow: 0 0 5px gold; background-color: rgba(0,0,0,0.8);">
                            <div style="float: left">
                                <h5 class="modal-title" id="tieudekethopcungsanh" style="font-weight: bold; text-shadow: 0 0 20px gold"></h5>
                            </div>
                            <div style="float:right">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseFrmGuiThongTin">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="modal-body">
                            <p id="noidungynghiacungsanh" style="text-align: left;"></p>
                            <button type="button" class="btnModal" data-dismiss="modal" style="border-radius: 5px; width: 100px; margin-top: 10px">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ynghiakethop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="frmGuiThongTin">
                        <div style="padding: 15px; box-shadow: 0 0 5px gold; background-color: rgba(0,0,0,0.8);">
                            <div style="float: left">
                                <h5 class="modal-title" id="tieudekethop" style="font-weight: bold; text-shadow: 0 0 20px gold"></h5>
                            </div>
                            <div style="float:right">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseFrmGuiThongTin">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="modal-body">
                            <p id="noidungynghia" style="text-align: left;"></p>
                            <button class="btnModal" type="button" data-dismiss="modal" style="border-radius: 5px; width: 100px; margin-top: 10px">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ý nghĩa SAO -->
            <div class="modal fade" id="giainghiasao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="frmGuiThongTin">
                        <div style="padding: 15px; box-shadow: 0 0 5px gold; background-color: rgba(0,0,0,0.8);">
                            <div style="float: left">
                                <h5 class="modal-title" id="tieudekethopcungsanh" style="font-weight: bold; text-shadow: 0 0 20px gold">Ý nghĩa</h5>
                            </div>
                            <div style="float:right">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseFrmGuiThongTin">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="modal-body" style="margin-top: -10px">
                            <div class="row" id="tieu-de-nam-nu" style="font-family: tahoma; font-weight: bold;font-size: 25px; background-color: rgba(131,96,37,0.3)">
                                <div class="col-6">NAM</div>
                                <div class="col-6">NỮ</div>
                            </div>
                            <div class="thongbao" style="display: none; padding: 20px">         
                            </div>
                            <div class="row" class="giaithich">
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiasaonam" style="text-align: left;"></p>
                                </div>
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiasaonu" style="text-align: left;"></p>
                                </div>
                            </div>
                            <button type="button" class="btnModal" data-dismiss="modal" style="border-radius: 5px; width: 100px; margin-top: 10px">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ý nghĩa HẠN -->
            <div class="modal fade" id="giainghiahan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="frmGuiThongTin">
                        <div style="padding: 15px; box-shadow: 0 0 5px gold; background-color: rgba(0,0,0,0.8);">
                            <div style="float: left">
                                <h5 class="modal-title" id="tieudekethopcungsanh" style="font-weight: bold; text-shadow: 0 0 20px gold">Ý nghĩa</h5>
                            </div>
                            <div style="float:right">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseFrmGuiThongTin">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="modal-body" style="margin-top: -10px">
                            <div class="row" id="tieu-de-nam-nu" style="font-family: tahoma; font-weight: bold;font-size: 20px; background-color: rgba(131,96,37,0.3)">
                                <div class="col-6">NAM</div>
                                <div class="col-6">NỮ</div>
                            </div>
                            <div class="thongbao" style="display: none; padding: 20px">         
                            </div>
                            <div class="row" class="giaithich">
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiahannam" style="text-align: left;"></p>
                                </div>
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiahannu" style="text-align: left;"></p>
                                </div>
                            </div>
                            <button type="button" class="btnModal" data-dismiss="modal" style="border-radius: 5px; width: 100px; margin-top: 10px">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ý nghĩa VẬN NIÊN -->
            <div class="modal fade" id="giainghiavannien" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="frmGuiThongTin">
                        <div style="padding: 15px; box-shadow: 0 0 5px gold; background-color: rgba(0,0,0,0.8);">
                            <div style="float: left">
                                <h5 class="modal-title" id="tieudekethopcungsanh" style="font-weight: bold; text-shadow: 0 0 20px gold">Ý nghĩa</h5>
                            </div>
                            <div style="float:right">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseFrmGuiThongTin">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="modal-body" style="margin-top: -10px">
                            <div class="row" id="tieu-de-nam-nu" style="font-size: 20px; background-color: rgba(131,96,37,0.3)">
                                <div class="col-6">NAM</div>
                                <div class="col-6">NỮ</div>
                            </div>
                            <div class="thongbao" style="display: none; padding: 20px">         
                            </div>
                            <div class="row" class="giaithich">
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiavanniennam" style="text-align: left;"></p>
                                </div>
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiavanniennu" style="text-align: left;"></p>
                                </div>
                            </div>
                            <button type="button" class="btnModal" data-dismiss="modal" style="border-radius: 5px; width: 100px; margin-top: 10px">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ý nghĩa KIM LÂU -->
            <div class="modal fade" id="giainghiakimlau" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="frmGuiThongTin">
                        <div style="padding: 15px; box-shadow: 0 0 5px gold; background-color: rgba(0,0,0,0.8);">
                            <div style="float: left">
                                <h5 class="modal-title" id="tieudekethopcungsanh" style="font-weight: bold; text-shadow: 0 0 20px gold">Ý nghĩa</h5>
                            </div>
                            <div style="float:right">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseFrmGuiThongTin">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="modal-body" style="margin-top: -10px">
                            <div class="row" id="tieu-de-nam-nu" style="font-size: 20px; background-color: rgba(131,96,37,0.3)">
                                <div class="col-6">NAM</div>
                                <div class="col-6">NỮ</div>
                            </div>
                            <div class="thongbao" style="display: none; padding: 20px">         
                            </div>
                            <div class="row" class="giaithich">
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiakimlaunam" style="text-align: left;"></p>
                                </div>
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiakimlaunu" style="text-align: left;"></p>
                                </div>
                            </div>
                            <button type="button" class="btnModal" data-dismiss="modal" style="border-radius: 5px; width: 100px; margin-top: 10px">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ý nghĩa HOANG ỐC -->
            <div class="modal fade" id="giainghiahoangoc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="frmGuiThongTin">
                        <div style="padding: 15px; box-shadow: 0 0 5px gold; background-color: rgba(0,0,0,0.8);">
                            <div style="float: left">
                                <h5 class="modal-title" id="tieudekethopcungsanh" style="font-weight: bold; text-shadow: 0 0 20px gold">Ý nghĩa</h5>
                            </div>
                            <div style="float:right">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseFrmGuiThongTin">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="modal-body" style="margin-top: -10px">
                            <div class="row" id="tieu-de-nam-nu" style="font-size: 20px; background-color: rgba(131,96,37,0.3)">
                                <div class="col-6">NAM</div>
                                <div class="col-6">NỮ</div>
                            </div>
                            <div class="thongbao" style="display: none; padding: 20px">         
                            </div>
                            <div class="row" class="giaithich">
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiahoangocnam" style="text-align: left;"></p>
                                </div>
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiahoangocnu" style="text-align: left;"></p>
                                </div>
                            </div>
                            <button type="button" class="btnModal" data-dismiss="modal" style="border-radius: 5px; width: 100px; margin-top: 10px">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ý nghĩa THÁI TUẾ -->
            <div class="modal fade" id="giainghiathaitue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="frmGuiThongTin">
                        <div style="padding: 15px; box-shadow: 0 0 5px gold; background-color: rgba(0,0,0,0.8);">
                            <div style="float: left">
                                <h5 class="modal-title" id="tieudekethopcungsanh" style="font-weight: bold; text-shadow: 0 0 20px gold">Ý nghĩa</h5>
                            </div>
                            <div style="float:right">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseFrmGuiThongTin">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="modal-body" style="margin-top: -10px">
                            <div class="row" id="tieu-de-nam-nu" style="font-size: 20px; background-color: rgba(131,96,37,0.3)">
                                <div class="col-6">NAM</div>
                                <div class="col-6">NỮ</div>
                            </div>
                            <div class="thongbao" style="display: none; padding: 20px">         
                            </div>
                            <div class="row" class="giaithich">
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiathaituenam" style="text-align: left;"></p>
                                </div>
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiathaituenu" style="text-align: left;"></p>
                                </div>
                            </div>
                            <button type="button" class="btnModal" data-dismiss="modal" style="border-radius: 5px; width: 100px; margin-top: 10px">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Ý nghĩa HÌNH THÁI TUẾ -->
            <div class="modal fade" id="giainghiahinhthaitue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="frmGuiThongTin">
                        <div style="padding: 15px; box-shadow: 0 0 5px gold; background-color: rgba(0,0,0,0.8);">
                            <div style="float: left">
                                <h5 class="modal-title" id="tieudekethopcungsanh" style="font-weight: bold; text-shadow: 0 0 20px gold">Ý nghĩa</h5>
                            </div>
                            <div style="float:right">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseFrmGuiThongTin">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="modal-body" style="margin-top: -10px">
                            <div class="row" id="tieu-de-nam-nu" style="font-size: 20px; background-color: rgba(131,96,37,0.3)">
                                <div class="col-6">NAM</div>
                                <div class="col-6">NỮ</div>
                            </div>
                            <div class="thongbao" style="display: none; padding: 20px">         
                            </div>
                            <div class="row" class="giaithich">
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiahinhthaituenam" style="text-align: left;"></p>
                                </div>
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiahinhthaituenu" style="text-align: left;"></p>
                                </div>
                            </div>
                            <button type="button" class="btnModal" data-dismiss="modal" style="border-radius: 5px; width: 100px; margin-top: 10px">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ý nghĩa TAM TAI -->
            <div class="modal fade" id="giainghiatamtai" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="frmGuiThongTin">
                        <div style="padding: 15px; box-shadow: 0 0 5px gold; background-color: rgba(0,0,0,0.8);">
                            <div style="float: left">
                                <h5 class="modal-title" id="tieudekethopcungsanh" style="font-weight: bold; text-shadow: 0 0 20px gold">Ý nghĩa</h5>
                            </div>
                            <div style="float:right">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseFrmGuiThongTin">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="modal-body" style="margin-top: -10px">
                            <div class="row" id="tieu-de-nam-nu" style="font-size: 20px; background-color: rgba(131,96,37,0.3)">
                                <div class="col-6">NAM</div>
                                <div class="col-6">NỮ</div>
                            </div>
                            <div class="thongbao" style="display: none; padding: 20px">         
                            </div>
                            <div class="row" class="giaithich">
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiatamtainam" style="text-align: left;"></p>
                                </div>
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiatamtainu" style="text-align: left;"></p>
                                </div>
                            </div>
                            <button type="button" class="btnModal" data-dismiss="modal" style="border-radius: 5px; width: 100px; margin-top: 10px">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ý nghĩa CƯỚI HỎI -->
            <div class="modal fade" id="giainghiacuoihoi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="frmGuiThongTin">
                        <div style="padding: 15px; box-shadow: 0 0 5px gold; background-color: rgba(0,0,0,0.8);">
                            <div style="float: left">
                                <h5 class="modal-title" id="tieudekethopcungsanh" style="font-weight: bold; text-shadow: 0 0 20px gold">Ý nghĩa</h5>
                            </div>
                            <div style="float:right">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseFrmGuiThongTin">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="modal-body" style="margin-top: -10px">
                            <div class="row" id="tieu-de-nam-nu" style="font-size: 20px; background-color: rgba(131,96,37,0.3)">
                                <div class="col-6">NAM</div>
                                <div class="col-6">NỮ</div>
                            </div>
                            <div class="thongbao" style="display: none; padding: 20px">         
                            </div>
                            <div class="row" class="giaithich">
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiacuoihoinam" style="text-align: left;"></p>
                                </div>
                                <div class="col-6" style="box-shadow: 0 0 5px gold">
                                    <p id="giainghiacuoihoinu" style="text-align: left;"></p>
                                </div>
                            </div>
                            <button type="button" class="btnModal" data-dismiss="modal" style="border-radius: 5px; width: 100px; margin-top: 10px">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div id="show-modal"></div>
    <script type="text/javascript" src="/libs/tinh-am-lich.js"></script>
    <script type="text/javascript" src="/js/bat-dau-xem.js"></script>
</body>

</html>