<!DOCTYPE html>
<html>

<head>
	<% include ./partials/header.ejs %>
		<script>
			//Prevent form from resubmission
			if (window.history.replaceState) {
				window.history.replaceState(null, null, window.location.href);
			}

			$(document).ready(function () {

				$('#myModal').on('shown.bs.modal', function () {
					$('#myInput').trigger('focus');
				});

			});

			function showTooltip() {
				return false;
			}
		</script>
		<title>Thay Đổi Vận Mệnh</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/index-style.css?version=55">
		<script>
			function showTooltip() {
				return false;
			}

			var click = 0;

			function toggler_click() {
				click++;
				var img = document.getElementById('toggler-image');
				if (click % 2 != 0)
					img.src = '/images/dropup.png';
				else img.src = '/images/dropdown.png';
			}
		</script>
</head>

<body>
	<div class="container-fluid" id="container">

		<nav class="navbar navbar-expand-lg" id="navbar">
			<button class="navbar-brand" href="#" id="loaiKH">

				<img src="/images/yinyang.ico" width="36" height="36" style="border-radius: 50%; box-shadow: 2px 2px 50px gold; display: none"
				 id="vip-icon">
				<%= ten %>

			</button>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			 aria-expanded="false" aria-label="Toggle navigation" id="toggler" onclick="return toggler_click()">
				<span>
					<img id="toggler-image" src="/images/dropdown.png" height="24" width="24" style="border: 0" />
				</span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<div>
						<button type="button" id="tabDangKy" style="display: none" data-toggle="modal" data-target="#dangky" data-whatever="@mdo">
							<img src="/images/hand.ico" width="24" height="24" /> Đăng ký</button>
					</div>

					<div>
						<button type="button" id="tabDangNhap" style="display: none" data-toggle="modal" data-target="#dangnhap" data-whatever="@mdo">
							<img src="/images/signin.png" width="24" height="24" /> Đăng nhập</button>
					</div>

					<div>
						<button type="button" id="tabCapQuyen" style="display: none" data-toggle="modal" data-target="#capquyen" data-whatever="@mdo">
							<img src="/images/up.png" width="24" height="24" /> Nâng cấp tài khoản</button>
					</div>

					<div>
						<button type="button" id="tabKhachHang" style="display: none" data-toggle="modal" data-target="#khachhang" data-whatever="@mdo">
							<img src="/images/member.png" width="24" height="24" /> Dữ liệu khách hàng</button>
					</div>

					<form method="get">
						<button id="tabTuVan" type="submit" style="display: none" formaction="/admin/lienHe">
							<img src="/images/question.png" width="24" height="24" /> Tư vấn khách hàng<span class="badge badge-danger" id="tuvan-label" style="display: none">1</span></button>
					</form>

					<div>
						<button type="button" id="tabKhoiPhuc" style="display: none" data-toggle="modal" data-target="#resetmatkhau" data-whatever="@mdo">
							<img src="/images/unlock.png" width="24" height="24" /> Khôi phục mật khẩu</button>
					</div>

					<div>
						<button type="button" id="tabDoiMatKhau" style="display: none" data-toggle="modal" data-target="#doimatkhau" data-whatever="@mdo">
							<img src="/images/change.png" width="24" height="24" /> Đổi mật khẩu</button>
					</div>

					<form method="post" id="frmDangXuat">
						<button id="tabDangXuat" type="submit" style="display:none" formaction="/index/dangXuat">
							<img src="/images/signout.png" width="24" height="24" /> Đăng xuất</button>
					</form>
				</div>
			</div>
		</nav>
		<div id="alert3" style="font-size: 20px"><%= alert3 %></div>
		<div id="role" style="display: none"><%= roleSession %></div>
		<div class="tab-content" id="nav-tabContent">
			<form id="frmMain" method="post">
				<div style="width: 100%; margin: auto; margin-top:3%">
					<center>
						<img id="loading" src="/images/yinyang3.png" height="70" width="70">
					</center>
				</div>
				<div id="functions">
					<center>
						<button type="submit" formaction="/ban-than">
							Bản thân/Tứ trụ
						</button>
						<button formaction="/kinh-dich">
							Quẻ dịch
						</button>
						<button value="Tính năng này chưa được mở!" onclick="return showTooltip()" class="tooltip-button">
							Ngày giờ tốt/xấu
						</button>
						<button value="Tính năng này chưa được mở!" onclick="return showTooltip()" class="tooltip-button">
							Phong thủy
						</button>
						<button value="Tính năng này chưa được mở!" onclick="return showTooltip()" class="tooltip-button">
							Hướng dẫn sử dụng
						</button>
						<div id="date_time" onchange="text_change()"></div>
					</center>
				</div>
			</form>	
		</div>

		<div class="modal fade" id="dangky" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="frmDangKy">
					<form method="post" id="dk">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseForm">
							<span aria-hidden="true">&times;</span>
						</button>
						<div id="alert" style="font-size: 20px"><%= alert %></div>
						<div id="titleDangKy">Đăng ký tài khoản</div>
						<p>Họ và tên:
							<input id="hoten" type="text" name="hoTen" class="form-control" value="" placeholder="Vui lòng nhập họ và tên">
						</p>
						<p>Số điện thoại:
							<input id="taikhoan" type="number" name="sdt" class="form-control" value="" placeholder="Vui lòng nhập số điện thoại">
						</p>
						<p>Mật khẩu:
							<input id="matkhau" type="password" name="matKhau" class="form-control" value="" placeholder="Vui lòng nhập mật khẩu">
						</p>
						<p>Nhập lại mật khẩu:
							<input id="matkhau" type="password" name="nhapLaiMatkhau" class="form-control" value="" placeholder="Vui lòng nhập lại mật khẩu">
						</p>
						<center>
							<button id="btnDangKy" formaction="/index/dangKy" name="href" value="index" type="submit">Đăng ký</button>
						</center>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="dangnhap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content" id="frmDangNhap">
				<form method="post">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseForm">
						<span aria-hidden="true">&times;</span>
					</button>
					<div id="alert1" style="font-size: 20px"><%= alert1 %></div>
					<div id="titleDangNhap">Đăng nhập tài khoản</div>
					<p>Số điện thoại:
						<input id="taikhoan" type="number" class="form-control" value="" name="sdt" placeholder="Vui lòng nhập số điện thoại">
					</p>
					<p>Mật khẩu:
						<input id="matkhau" type="password" class="form-control" value="" name="matKhau" placeholder="Vui lòng nhập mật khẩu">
					</p>
					<center>
						<button id="btnDangNhap" type="submit" name="href" value="index" formaction="/index/dangNhap">Đăng nhập</button>
					</center>
				</form>
			</div>
		</div>
	</div>


	<div class="modal fade" id="doimatkhau" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content" id="frmDoiMatKhau">
				<form method="post">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseForm">
						<span aria-hidden="true">&times;</span>
					</button>
					<div id="alert2" style="font-size: 20px"><%= alert2 %></div>
					<div id="titleDoiMatKhau">Đổi mật khẩu tài khoản</div>
					<p>Mật khẩu cũ:
						<input id="matkhau" type="password" class="form-control" value="" name="matKhauCu" placeholder="Vui lòng nhập mật khẩu cũ">
					</p>
					<p>Mật khẩu mới:
						<input id="matkhau" type="password" class="form-control" value="" name="matKhauMoi" placeholder="Vui lòng nhập mật khẩu mới">
					</p>
					<p>Nhập lại mật khẩu mới:
						<input id="matkhau" type="password" class="form-control" value="" name="matKhauMoiNhapLai" placeholder="Vui lòng nhập lại mật khẩu mới">
					</p>
					<center>
						<button id="btnDoiMatKhau" type="submit" name="href" value="index" formaction="/index/doiMatKhau">Đổi mật khẩu</button>
					</center>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="khachhang" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content" id="frmKhachHang">
				<form method="post">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseForm">
						<span aria-hidden="true">&times;</span>
					</button>
					<!-- <div id="alert2" style="font-size: 20px">
						<%= alert2 %>
					</div> -->
					<div id="titleDoiMatKhau">Quản lý dữ liệu</div>

					<p>Khách hàng:
						<select id="chonKH" name="KH">
						</select>
					</p>

					<div class="row">
						<div class="col-4">
							<button type="submit" id="btnThemDLKH" formaction="/users/nhapThongTin">Thêm</button>
						</div>

						<div class="col-4">
							<button type="submit" id="btnSuaDLKH" disabled formaction="/users/suaThongTin">Chỉnh sửa</button>
						</div>

						<div class="col-4">
							<button id="btnXoaKH" type="button" disabled style="height: 100%">Xóa</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

	<!--CẤP QUYỀN -->
	<div class="modal fade" id="capquyen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content" id="frmKhachHang">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseForm">
					<span aria-hidden="true">&times;</span>
				</button>
				<!-- <div id="alert2" style="font-size: 20px">
					<%= alert2 %>
				</div> -->
				<div id="titleDoiMatKhau">Nâng cấp tài khoản VIP</div>

				Khách hàng:
				<p>
					<select id="idCapQuyen">
					</select>
				</p>

				<div class="row">
					<div class="col-12">
						<button type="button" id="btnCapQuyen" disabled>Thực hiện</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--RESET MẬT KHẨU -->
	<div class="modal fade" id="resetmatkhau" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content" id="frmKhachHang">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseForm">
					<span aria-hidden="true">&times;</span>
				</button>
				<!-- <div id="alert2" style="font-size: 20px">
						<%= alert2 %>
					</div> -->
				<div id="titleDoiMatKhau">Khôi phục mật khẩu</div>

				Khách hàng:
				<p>
					<select id="idKhoiPhuc">
					</select>
				</p>

				<div class="row">
					<div class="col-12">
						<button type="button" id="btnKhoiPhuc" disabled>Thực hiện</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script type="text/javascript" src="/js/index.js"></script>
	<script type="text/javascript" src="/libs/tinh-am-lich.js"></script>
	<script type="text/javascript" src="/libs/clock.js"></script>
	<!-- <script type="text/javascript">window.onload = date_time();</script> -->
</body>

</html>