<!DOCTYPE html>
<html>

<head>
	<% include ./partials/header.ejs %>
		<script>
			//Prevent form from resubmission
			if (window.history.replaceState) {
				window.history.replaceState(null, null, window.location.href);
			}

			$(document).ready(function () {

				$('#myModal').on('shown.bs.modal', function () {
					$('#myInput').trigger('focus')
				});

			});

			function showTooltip() {
				return false;
			}
		</script>
		<title>Quẻ Dịch</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/kinh-dich-style.css?version=55">
		<script>
			function showTooltip() {
				return false;
			}
		</script>
</head>
<div class="container-fluid" id="frm-thong-tin-than-chu">

	<div id="tieu-de">
		GIEO QUẺ KINH DỊCH
	</div>
	<p id="tieu-de-thong-tin-than-chu">THÔNG TIN THÂN CHỦ</p>
	<div class="row" id="namxem-thanchu-gioitinh">
		<div class="col-lg-3">
			Năm xem:
			<br>
			<select id="namxem">
				<% arr.forEach(function(val){ %>
                        <option value="<%= val %>"><%= val %></option>
                <% }); %>
			</select>
		</div>
		<div class="col-lg-9">
			Thân chủ:
			<br>
			<select id="thanchu">	
			</select>
		</div>
	</div>
	<p id="tieu-de-chon-que">
		<span style="text-shadow: 2px 2px 10px red; line-height: -5px">
			GIEO QUẺ BẰNG XU
		</span>
		<br>
		<span style="font-style:italic" id="chu-y-chon-que">
			(Chú ý CHỌN ĐÚNG THỨ TỰ gieo quẻ)
		</span>
	</p>

	<!-- HÀO 4 -->
	<div class="row" id="nhap-que-dich">
		<div class="col-2">
			Hào 4
		</div>
		<div class="col-5">
			<select style="width: 100%" id="chon-hao4" class="chon-hao">
				<option selected="selected" value="1">+++</option>
				<option value="2">---</option>
				<option value="1">++-</option>
				<option value="2">--+</option>
			</select>
		</div>
		<div class="col-5" id="ten-hao4">
		</div>
	</div>

	<!-- HÀO 5 -->
	<div class="row" id="nhap-que-dich">
		<div class="col-2">
			Hào 5
		</div>
		<div class="col-5">
			<select style="width: 100%" id="chon-hao5" class="chon-hao">
				<option selected="selected" value="1">+++</option>
				<option value="2">---</option>
				<option value="1">++-</option>
				<option value="2">--+</option>
			</select>
		</div>
		<div class="col-5" id="ten-hao5">
		</div>
	</div>

	<!-- HÀO 6 -->
	<div class="row" id="nhap-que-dich">
		<div class="col-2">
			Hào 6
		</div>
		<div class="col-5">
			<select style="width: 100%" id="chon-hao6" class="chon-hao">
				<option selected="selected" value="1">+++</option>
				<option value="2">---</option>
				<option value="1">++-</option>
				<option value="2">--+</option>
			</select>
		</div>
		<div class="col-5" id="ten-hao6">
		</div>
	</div>

	<!-- HÀO 1 -->
	<div class="row" id="nhap-que-dich">
		<div class="col-2">
			Hào 1
		</div>
		<div class="col-5">
			<select style="width: 100%" id="chon-hao1" class="chon-hao">
				<option selected="selected" value="1">+++</option>
				<option value="2">---</option>
				<option value="1">++-</option>
				<option value="2">--+</option>
			</select>
		</div>
		<div class="col-5" id="ten-hao1">
		</div>
	</div>

	<!-- HÀO 2 -->
	<div class="row" id="nhap-que-dich">
		<div class="col-2">
			Hào 2
		</div>
		<div class="col-5">
			<select style="width: 100%" id="chon-hao2" class="chon-hao">
				<option selected="selected" value="1">+++</option>
				<option value="2">---</option>
				<option value="1">++-</option>
				<option value="2">--+</option>
			</select>
		</div>
		<div class="col-5" id="ten-hao2">
		</div>
	</div>

	<!-- HÀO 3 -->
	<div class="row" id="nhap-que-dich">
		<div class="col-2">
			Hào 3
		</div>
		<div class="col-5">
			<select style="width: 100%" id="chon-hao3" class="chon-hao">
				<option selected="selected" value="1">+++</option>
				<option value="2">---</option>
				<option value="1">++-</option>
				<option value="2">--+</option>
			</select>
		</div>
		<div class="col-5" id="ten-hao3">
		</div>
	</div>

	<div class="row" id="queso-tenque-tuongque">
		<div class="col-2" id="queso">
			Quẻ:
		</div>
		<div class="col-7" id="tenque">
		</div>
		<div class="col-3" id="quedich">
			<div class="hao" id ="hao-4-1" style="display: none;">
				<div style="background-color: gold; width: 100%; height: 100%; float: left; box-shadow: -2px 4px 20px black"></div>
			</div>
			<div class="hao" id="hao-4-2" style="display: none;">
				<div style="background-color: gold; width: 45%; height: 100%; float: left; box-shadow: -2px 4px 20px black"></div>
				<div style="background-color: gold; width: 45%; height: 100%; float: right; box-shadow: -2px 4px 20px black"></div>
			</div>
			<div class="hao" id ="hao-5-1" style="display: none;">
				<div style="background-color: gold; width: 100%; height: 100%; float: left; box-shadow: -2px 4px 20px black"></div>
			</div>
			<div class="hao" id="hao-5-2" style="display: none;">
				<div style="background-color: gold; width: 45%; height: 100%; float: left; box-shadow: -2px 4px 20px black"></div>
				<div style="background-color: gold; width: 45%; height: 100%; float: right; box-shadow: -2px 4px 20px black"></div>
			</div>
			<div class="hao" id ="hao-6-1" style="display: none;">
				<div style="background-color: gold; width: 100%; height: 100%; float: left; box-shadow: -2px 4px 20px black"></div>
			</div>
			<div class="hao" id="hao-6-2" style="display: none;">
				<div style="background-color: gold; width: 45%; height: 100%; float: left; box-shadow: -2px 4px 20px black"></div>
				<div style="background-color: gold; width: 45%; height: 100%; float: right; box-shadow: -2px 4px 20px black"></div>
			</div>
			<div class="hao" id ="hao-1-1" style="display: none;">
				<div style="background-color: gold; width: 100%; height: 100%; float: left; box-shadow: -2px 4px 20px black"></div>
			</div>
			<div class="hao" id="hao-1-2" style="display: none;">
				<div style="background-color: gold; width: 45%; height: 100%; float: left; box-shadow: -2px 4px 20px black"></div>
				<div style="background-color: gold; width: 45%; height: 100%; float: right; box-shadow: -2px 4px 20px black"></div>
			</div>
			<div class="hao" id ="hao-2-1" style="display: none;">
				<div style="background-color: gold; width: 100%; height: 100%; float: left; box-shadow: -2px 4px 20px black"></div>
			</div>
			<div class="hao" id="hao-2-2" style="display: none;">
				<div style="background-color: gold; width: 45%; height: 100%; float: left; box-shadow: -2px 4px 20px black"></div>
				<div style="background-color: gold; width: 45%; height: 100%; float: right; box-shadow: -2px 4px 20px black"></div>
			</div>
			<div class="hao" id ="hao-3-1" style="display: none;">
				<div style="background-color: gold; width: 100%; height: 100%; float: left; box-shadow: -2px 4px 20px black"></div>
			</div>
			<div class="hao" id="hao-3-2" style="display: none;">
				<div style="background-color: gold; width: 45%; height: 100%; float: left; box-shadow: -2px 4px 20px black"></div>
				<div style="background-color: gold; width: 45%; height: 100%; float: right; box-shadow: -2px 4px 20px black"></div>
			</div>
		</div>
	</div>

	<div id="ynghiaque">
	</div>
	<div style="padding: 20px; padding-top: 0; width: 100%">
		<center>
			<a href="/" style="text-decoration:none; color: gold;">Trở về trang chủ</a>
		</center>
	</div>
</div>
<script type="text/javascript" src="/js/kinh-dich.js"></script>
</body>
</html>