<!DOCTYPE html>
<html>

<head>
	<% include ./partials/header.ejs%>
		<title>Tử vi - Nhập thông tin cá nhân</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/nhap-thong-tin-ca-nhan-style.css?version=56">
		<script>
			//Prevent form from resubmission
			if (window.history.replaceState) {
				window.history.replaceState(null, null, window.location.href);
			}

			function showTooltip() {
				return false;
			}
		</script>
</head>

<body>
	<div class="container-fluid" id="container">
		<form id="frm-thong-tin-ca-nhan" method="post">
			<div id="tieu-de">Nhập thông tin cá nhân</div>
			<!-- THÔNG TIN CHUNG -->
			<div class="row no-gutter">
				<div class="col-6">
					Họ tên:
				</div>
				<div class="col-6">
					<input id="hoten" type="text" style="width: 100%" value="">
				</div>
			</div>
			<div class="row no-gutter">
				<div class="col-6">
					Giới tính:
				</div>
				<div class="col-6">
					<select id="gioitinh">
						<option value="1">Nam</option>
						<option value="2">Nữ</option>
					</select>
				</div>
			</div>
			<div class="row no-gutter">
				<div class="col-6">
					Ngày sinh:
					<button id="btnGiaiThich" value="Chú ý: Nếu nhập ngày theo Dương lịch chọn 'DL'. Nếu nhập ngày theo Âm lịch chọn 'ÂL'"
					 onclick="return showTooltip()" class="tooltip-button" style="width: 30px">?</button>
				</div>
				<div class="col-6">
					<div class="row">
							<div class="col-sm-5">
								<select id="lich">
									<option value="1">Dương lịch</option>
									<option value="2">Âm lịch</option>
								</select>
							</div>
							<div class="col-sm-7"><input type="hidden" value="" class="form_datetime" id="sholarMale"></div>
					</div>
					<!-- <div id="lich">
						Đổi sang Dương lịch
					</div> -->
				</div>
			</div>
			<div class="row no-gutter">
				<div class="col-6">
					Âm lịch:
				</div>
				<div class="col-6">
					<span style="font-weight: bold" id="AL"></span>
				</div>
			</div>
			<div class="row no-gutter">
				<div class="col-6">
					Giờ sinh:
				</div>
				<div class="col-6">
					<select id="giosinh" disabled="disabled">
					</select>
				</div>
			</div>
			<div class="row no-gutter">
				<div class="col-6">
					Là con thứ:
					<button id="btnGiaiThich" value="Chú ý: Vui lòng chọn Con thứ theo cách gọi của miền Nam." onclick="return showTooltip()"
					 class="tooltip-button" style="width: 30px; height: 0">?</button>
				</div>
				<div class="col-6" id="chonconthu">
					<select id="conthu">
					</select>
				</div>
			</div>
			<div class="row no-gutter">
				<div class="col-6">
					Năm sinh Cha:
				</div>
				<div class="col-6">
					<select id="namsinhcha" class="year1">
					</select>
				</div>
			</div>
			<div class="row no-gutter">
				<div class="col-6">
					Năm sinh Mẹ:
				</div>
				<div class="col-6">
					<select id="namsinhme" class="year1">
					</select>
				</div>
			</div>
			<div class="row no-gutter">
				<div class="col-6">
					Năm kết hôn:
				</div>
				<div class="col-6">
					<select id="kethon" class="year1">
					</select>
				</div>
			</div>

			<!-- HÔN NHÂN NAM -->
			<div id="hon-nhan-nam" style="display: none">
				<div class="row no-gutter">
					<div class="col-6">
						Năm sinh Vợ:
					</div>
					<div class="col-6">
						<select id="namsinhvo" class="year1">
						</select>
					</div>
				</div>
				<div class="row no-gutter">
					<div class="col-6">
						Là con thứ:
						<button id="btnGiaiThich" value="Chú ý: Vui lòng chọn Con thứ theo cách gọi của miền Nam." onclick="return showTooltip()"
						 class="tooltip-button" style="width: 30px; height: 0">?</button>
					</div>
					<div class="col-6">
						<select id="conthuvo">
						</select>
					</div>
				</div>
				<div class="row no-gutter">
					<div class="col-6">
						Năm sinh Cha Vợ:
					</div>
					<div class="col-6">
						<select id="namsinhchavo" class="year1">
						</select>
					</div>
				</div>
				<div class="row no-gutter">
					<div class="col-6">
						Năm sinh Mẹ Vợ:
					</div>
					<div class="col-6">
						<select id="namsinhmevo" class="year1">
						</select>
					</div>
				</div>
				<div class="row no-gutter">
					<div class="col-6">
						Bao nhiêu con:
					</div>
					<div class="col-6">
						<select id="socon">
						</select>
					</div>
				</div>
			</div>

			<!-- THÔNG TIN NỮ -->
			<div id="hon-nhan-nu" style="display:none">
				<div class="row no-gutter">
					<div class="col-6">
						Năm sinh Chồng:
					</div>
					<div class="col-6">
						<select id="namsinhchong" class="year1">
						</select>
					</div>
				</div>
				<div class="row no-gutter">
					<div class="col-6">
						Là con thứ:
					</div>
					<div class="col-6">
						<select id="conthuchong">
						</select>
					</div>
				</div>
				<div class="row no-gutter">
					<div class="col-6">
						Năm sinh Cha Chồng:
					</div>
					<div class="col-6">
						<select id="namsinhchachong" class="year1">
						</select>
					</div>
				</div>
				<div class="row no-gutter">
					<div class="col-6">
						Năm sinh Mẹ Chồng:
					</div>
					<div class="col-6">
						<select id="namsinhmechong" class="year1">
						</select>
					</div>
				</div>
				<div class="row no-gutter">
					<div class="col-6">
						Bao nhiêu con:
					</div>
					<div class="col-6">
						<select id="socon1">
						</select>
					</div>
				</div>
			</div>

			<!-- THÔNG TIN CON CÁI -->
			<div id="con-cai" style="display: none">
			</div>

			<!-- NÚT BẤM -->
			<div class="row" id="nut-bam">
				<div class="col-12">
					<div id="btnThemNguoiXem">Lưu thông tin</div>
				</div>
			</div>
			<center>
				<a href="/" style="text-decoration:none; color:gold;">Trở về trang chủ</a>
			</center>
		</form>
	</div>
	<script type="text/javascript" src="/libs/tinh-am-lich.js"></script>
	<script type="text/javascript" src="/js/luu-thong-tin.js"></script>
</body>

</html>