<!DOCTYPE html>
<html>
<head>
	<% include ./partials/header.ejs%>
        <title>Tử vi - Quản lý thành viên</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/quan-ly-thanh-vien-style.css?version=56">
        <script>
            //Prevent form from resubmission
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>
</head>
<body>

	<div class="container-fluid" id="container">
		
		<form id="frmThongTinThanhVien">
			
			<div id="TieuDe">Quản lý thành viên</div>

			<div class="row" id="table-title">
				<div class="col-1">STT</div> <!--  -->
				<div class="col-3">Họ tên</div>
				<div class="col-2">Số điện thoại</div>
				<div class="col-1">Thành viên</div>
				<div class="col-2">Thanh toán</div>
				<div class="col-2"></div>
			</div>

			<div id="DivThongTinThanhVien">

				<table id="BangThongTinThanhVien">
					<tbody>
						<tr>
							<td style="width: 8.33%;">1</td>
							<td style="width: 25%">Võ Thái Minh Tuệ</td>
							<td style="width: 16.67%">0932659211</td>
							<td style="width: 8.33%">
								<select style="width: 100%">
									<option>Thường</option>
									<option>VIP</option>
								</select>
							</td>
							<td style="width: 16.76%">
								<select style="width: 100%">
									<option>Đã thanh toán</option>
									<option>Chưa thanh toán</option>
								</select>
							<td style="width: 25%">
								<div class="row">
									<div class="col-6">
										<button style="width: 100%; height: 100%">Reset mật khẩu</button>
									</div>
									<div class="col-6">
										<button style="width: 100%; height: 100%">Cập nhật</button>
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<td style="width: 8.33%;">1</td>
							<td style="width: 25%">Võ Thái Minh Tuệ</td>
							<td style="width: 16.67%">0932659211</td>
							<td style="width: 8.33%">
								<select style="width: 100%">
									<option>Thường</option>
									<option>VIP</option>
								</select>
							</td>
							<td style="width: 16.67%">
								<select style="width: 100%">
									<option>Đã thanh toán</option>
									<option>Chưa thanh toán</option>
								</select>
							<td style="width: 25%">
								<div class="row">
									<div class="col-6">
										<button style="width: 100%; height: 100%">Reset mật khẩu</button>
									</div>
									<div class="col-6">
										<button style="width: 100%; height: 100%">Cập nhật</button>
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<td style="width: 8.33%;">1</td>
							<td style="width: 25%">Võ Thái Minh Tuệ</td>
							<td style="width: 16.67%">0932659211</td>
							<td style="width: 8.33%">
								<select style="width: 100%">
									<option>Thường</option>
									<option>VIP</option>
								</select>
							</td>
							<td style="width: 16.67%">
								<select style="width: 100%">
									<option>Đã thanh toán</option>
									<option>Chưa thanh toán</option>
								</select>
							<td style="width: 25%">
								<div class="row">
									<div class="col-6">
										<button style="width: 100%; height: 100%">Reset mật khẩu</button>
									</div>
									<div class="col-6">
										<button style="width: 100%; height: 100%">Cập nhật</button>
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<td style="width: 8.33%;">1</td>
							<td style="width: 25%">Võ Thái Minh Tuệ</td>
							<td style="width: 16.67%">0932659211</td>
							<td style="width: 8.33%">
								<select style="width: 100%">
									<option>Thường</option>
									<option>VIP</option>
								</select>
							</td>
							<td style="width: 16.67%">
								<select style="width: 100%">
									<option>Đã thanh toán</option>
									<option>Chưa thanh toán</option>
								</select>
							<td style="width: 25%">
								<div class="row">
									<div class="col-6">
										<button style="width: 100%; height: 100%">Reset mật khẩu</button>
									</div>
									<div class="col-6">
										<button style="width: 100%; height: 100%">Cập nhật</button>
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<td style="width: 8.33%;">1</td>
							<td style="width: 25%">Võ Thái Minh Tuệ</td>
							<td style="width: 16.67%">0932659211</td>
							<td style="width: 8.33%">
								<select style="width: 100%">
									<option>Thường</option>
									<option>VIP</option>
								</select>
							</td>
							<td style="width: 16.67%">
								<select style="width: 100%">
									<option>Đã thanh toán</option>
									<option>Chưa thanh toán</option>
								</select>
							<td style="width: 25%">
								<div class="row">
									<div class="col-6">
										<button style="width: 100%; height: 100%">Reset mật khẩu</button>
									</div>
									<div class="col-6">
										<button style="width: 100%; height: 100%">Cập nhật</button>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>

			</div>

			<div style="padding: 20px; width: 100%; margin: auto;">
				<center>
					<a href="/" id="trovetrangchu">Trở về trang chủ</a>
				</center>
			</div>

		</form>

	</div>

</body>
</html>