<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header.ejs%>
        <title>Tư vấn khách hàng</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/thong-tin-tu-van-style.css?version=56">
        <script>
            //Prevent form from resubmission
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>
</head>

<body>

    <div class="container-fluid" id="container">

        <form id="frmThongTinThanhVien" method="post">

            <div id="TieuDe">TƯ VẤN KHÁCH HÀNG</div>

            <div id="DivThongTinThanhVien">
                <table id="BangThongTinThanhVien">
                    <thead>
                        <tr id="table-title">
                            <td>Số Điện Thoại</td>
                            <td>Ngày Gửi</td>
                            <td>Yêu Cầu Tư Vấn</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="noiDungBang">
               <!--          <tr>
                            
                            <td>0932659211</td>
                            <td>18:30 18/04/2019</td>
                            <td>Cần tư vấn về gia đạo, hôn nhân, thăng tiến trong sự nghiệp.Cần tư vấn về gia đạo, hôn nhân,
                                thăng tiến trong sự nghiệp.</td>
                            <td>
                                <button class="btnXacNhan">Xác nhận</button>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>0932659211</td>
                            <td>18:30 18/04/2019</td>
                            <td>Cần tư vấn về gia đạo</td>
                            <td>
                                <button class="btnXacNhan">Xác nhận</button>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>0932659211</td>
                            <td>18:30 18/04/2019</td>
                            <td>Cần tư vấn về gia đạo, hôn nhân, thăng tiến trong sự nghiệp.Cần tư vấn về gia đạo, hôn nhân,
                                thăng tiến trong sự nghiệp.Cần tư vấn về gia đạo, hôn nhân, thăng tiến trong sự nghiệp.Cần
                                tư vấn về gia đạo, hôn nhân, thăng tiến trong sự nghiệp.</td>
                            <td>
                                <button class="btnXacNhan">Xác nhận</button>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>0932659211</td>
                            <td>18:30 18/04/2019</td>
                            <td>Cần tư vấn về gia đạo, hôn nhân, hôn nhân, thăng tiến trong sự nghiệp.Cần
                                tư vấn về gia đạo, hôn nhân, thăng tiến trong sự nghiệp.</td>
                            <td>
                                <button class="btnXacNhan">Xác nhận</button>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>0932659211</td>
                            <td>18:30 18/04/2019</td>
                            <td>Cần tư vấn về gia đạo, hôn nhân, thăng tiến trong sự nghiệp.Cần tư vấn về gia đạo, hôn nhân,
                                thăng tiến trong sự nghiệp.Cần tư vấn về gia đạo, hôn nhân, thăng tiến trong sự nghiệp.Cần
                                tư vấn về gia đạo, hôn nhân</td>
                            <td>
                                <button class="btnXacNhan">Xác nhận</button>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>0932659211</td>
                            <td>18:30 18/04/2019</td>
                            <td>Cần tư vấn về gia đạo,hôn nhân, thăng tiến trong sự nghiệp.Cần
                                tư vấn về gia đạo, hôn nhân, thăng tiến trong sự nghiệp.</td>
                            <td>
                                <button class="btnXacNhan">Xác nhận</button>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>0932659211</td>
                            <td>18:30 18/04/2019</td>
                            <td>Cần tư vấn về gia đạo, hôn nhân, thăng tiến trong sự nghiệp.Cần tư vấn về gia đạo, hôn nhân,
                                thăng tiến trong sự nghiệp,thăng tiến trong sự nghiệp.</td>
                            <td>
                                <button class="btnXacNhan">Xác nhận</button>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>0932659211</td>
                            <td>18:30 18/04/2019</td>
                            <td>Cần tư vấn về gia đạo, hôn nhân.</td>
                            <td>
                                <button class="btnXacNhan">Xác nhận</button>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>0932659211</td>
                            <td>18:30 18/04/2019</td>
                            <td>Cần tư vấn về gia đạo</td>
                            <td>
                                <button class="btnXacNhan">Xác nhận</button>
                            </td>
                        </tr> -->
                        </tbody>
                </table>
            </div>

            <div style="padding: 20px; width: 100%; margin: auto;">
                <center>
                    <a href="/" id="trovetrangchu">Trở về trang chủ</a>
                </center>
            </div>

        </form>

    </div>

    <script type="text/javascript" src="/js/tu-van-khach-hang.js"></script>
</body>

</html>