<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/header.ejs%>
    <title>Xem Tứ trụ</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/tu-tru-style.css?version=53">
</head>
<script>
    //Prevent form from resubmission
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

<body>
    <div id="container" class="container-fluid">
        <div class="row no-gutter">
            <div id="left" class="col-md-5">
                <div id="title" class="col-md-12 title">
                    <p>Thông tin thân chủ</p>
                    <center>
                        <a href="/ban-than" style="text-decoration:none; color:gold; font-size:18px;">Trở về Bản thân</a>
                    </center>
                </div>
                <div id="fullname">
                    LHT(1980) - Nam
                </div>
                <div id="info-body">
                    <div id="birthday">
                        <div class="row">
                            <div class="col-6">Dương lịch</div>
                            <div class="col-6">05/05/1990</div>
                        </div>
                        <div class="row">
                            <div class="col-6">Âm lịch</div>
                            <div class="col-6">21/03/1990</div>
                        </div>
                        <div class="row">
                            <div class="col-6">Giờ sinh</div>
                            <div class="col-6">12:00 (Tý)</div>
                        </div>
                    </div>
                    <div id="more-info-2">
                        LHT - 40 tuổi - Nam - Canh Thân - Thạch Lựu Mộc
                    </div>
                    <div id="detail" style="position: relative; margin:auto;top: 2%; width: 95%">
                        <div class="row no-gutter">
                            <div class="col-3 nam-thang-gio">
                                NĂM
                                <p style="font-weight:bold">(Cung tổ tiên, cha mẹ)</p>
                            </div>
                            <div class="col-3 nam-thang-gio">
                                THÁNG
                                <p style="font-weight:bold">(Cung anh em)</p>
                            </div>
                            <div class="col-3 ngay">
                                NGÀY
                                <p style="text-shadow: 0 0 30px gold; font-weight:bold">(Cung thân, chồng /vợ)</p>
                            </div>
                            <div class="col-3 nam-thang-gio">
                                GIỜ
                                <p style="font-weight:bold">(Cung con cái)</p>
                            </div>
                        </div>
                        <div class="row no-gutter">
                            <div class="col-3 nam-thang-gio">
                                <p style="font-weight:bold">Canh Thân</p>
                                <p>Canh: Kim - Thân: Kim</p>
                            </div>
                            <div class="col-3 nam-thang-gio">
                                <p style="font-weight:bold">Canh Thìn</p>
                                <p>Canh: Kim - Thìn: Thổ</p>
                            </div>
                            <div class="col-3 ngay">
                                <p style="font-weight:bold; text-shadow: 0 0 30px gold">Mậu Dần</p>
                                <p>Mậu: Thổ - Dần: Mộc</p>
                            </div>
                            <div class="col-3 nam-thang-gio">
                                <p style="font-weight:bold">Đinh Tị</p>
                                <p>Đinh: Hỏa - Tị: Hỏa</p>
                            </div>
                        </div>
                    </div>
                    <div id="tong-so-ngu-hanh">
                        Tổng số ngũ hành: Kim-5 Thủy-2 Mộc-3 Hỏa-4 Thổ-6
                    </div>

                    <div id="detail" style="position: relative; margin:auto;top: 6%; width: 95%">
                        <div class="row no-gutter">
                            <div class="col-3 nam-thang-gio">
                                <p style="font-weight:bold; padding: 5px; margin-top:25px">THỰC THẦN</p>
                            </div>
                            <div class="col-3 nam-thang-gio">
                                <p style="font-weight:bold; padding: 5px; margin-top:25px">THỰC THẦN</p>
                            </div>
                            <div class="col-3 nam-thang-gio">
                                <p style="font-weight:bold; padding: 5px; margin-top:25px">Không có</p>
                            </div>
                            <div class="col-3 nam-thang-gio">
                                <p style="font-weight:bold; padding: 5px; margin-top:25px">CHÍNH ẤN</p>
                            </div>
                        </div>
                        <div class="row no-gutter" id="thapthan">
                            <div class="col-3 nam-thang-gio">
                                <p>Canh</p>
                                <p>Thực Thần</p>
                                <br>
                                <p>Nhâm</p>
                                <p>Thiên Tài</p>
                            </div>
                            <div class="col-3 nam-thang-gio">
                                <p>Mậu</p>
                                <p>Tỷ Kiên</p>
                                <br>
                                <p>Ất</p>
                                <p>Chính Quan</p>
                            </div>
                            <div class="col-3 nam-thang-gio">
                                <p>Giáp</p>
                                <p>Thiên Quan</p>
                                <br>
                                <p>Bính</p>
                                <p>Thiên Ấn</p>
                            </div>
                            <div class="col-3 nam-thang-gio">
                                <p>Bính</p>
                                <p>Thiên Ấn</p>
                                <br>
                                <p>Canh</p>
                                <p>Thực Thần</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="right" class="col-md-7">
                <div id="tuoi-mang">
                    <div class="row">
                        <div class="col-4" style="font-weight:normal; font-style:italic">Tuổi</div>
                        <div class="col-4">Dương Nam</div>
                        <div class="col-4">Dương</div>
                    </div>
                    <div class="row" style="margin-top:20px">
                        <div class="col-4" style="font-weight:normal; font-style:italic">Mạng</div>
                        <div class="col-4">Thạch Lựu Mộc</div>
                    </div>
                </div>
                <div id="van"></div>
            </div>
        </div>
    </div>
</body>

</html>