.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0px;
}
*{
    padding: 0;
    margin: 0;
}
.tooltip-button:hover{
    position: relative;
    box-shadow: none;
    box-shadow: 0 0 10px gold;
    text-shadow: 0 0 30px gold;
}
.tooltip-button:hover:after{
    content: attr(value);
    padding: 0px;
   	font-weight: normal;
   	position: absolute;
   	left: 0;
    top: -50px;
   	z-index: 20;
   	font-size: 14px;
    height: 50px;
	width: 100px;
    border-radius: 5px;
    word-wrap: break-word;
	display: block;
	text-shadow: 1px 1px black;
	color: gold;
    box-shadow: 0 0 10px gold;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }

.row:before, .row:after {display: none !important;}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    box-shadow: 0 0 20px gold;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid gold;
    border-radius: 10px;
  }
body, html{
	height: 100%;
	overflow-x: hidden;
}
select option{
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px gold;
    color: gold;
}
body{
    background-image: url("/images/background2.png"),url("/images/background1.jpeg");
	background-size: cover,100% 100%;
    background-position: center;
}
select{
    text-align-last: center;
    direction: ltr;
}
#container{
    background-color: rgba(0,0,0,0.2);
    text-shadow: 2px 2px 10px red;
	color: gold;
    font-size: 20px;
    text-align: center;
    height: auto;
    box-shadow: -2px 6px 30px gold;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
@font-face{
    font-family: thu-phap;
    src: url("/libs/fonts/thuphap.ttf");
}
#tieu-de-nam-nu{
    font-family: tahoma;
    font-size: 30px;
    text-shadow: 2px 2px 30px red;
    color: gold;
    -webkit-animation: titleScale 0.5s linear;
    font-weight: bold;
}
/*@-webkit-keyframes titleScale{
    from{
        -webkit-transform: scale(5,5);
    } to {
        -webkit-transform: scale(1,1);
    }
}*/
#hoten-namsinh{
    width: 100%;
    margin: auto;
    -webkit-animation: titleScale 0.5s linear;
}
#hoten-namsinh select{
    padding: 10px;
    padding-right: 25px;
    color: gold;
}
#hoten-namsinh-nam, #hoten-namsinh-nu{
    border: 0;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: -2px 6px 20px black;
    text-shadow: 1.5px 1.5px black;
    font-weight: bold;
    -webkit-appearance: none;
    background: url("/images/background2.png"),url(/images/dropdown_gold.png);
    background-size: cover,12px 12px;
    background-repeat: no-repeat;,no-repeat;
    background-position: center,right;
}
#xemve-namxem{
    padding: 40px;
}
#xemve-namxem select{
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: -2px 6px 20px black;
    text-shadow: 1.5px 1.5px black;
    color: gold;
    font-weight: bold;
    border: 0;
    -webkit-animation: titleScale 0.5s linear;
    padding: 5px;
    padding-right: 15px;
    -webkit-appearance: none;
    background: url("/images/background2.png"),url(/images/dropdown_gold.png);
    background-size: cover,12px 12px;
    background-repeat: no-repeat;,no-repeat;
    background-position: center,right;
}
#xemve-namxem span{
    font-weight: bold;
}
#frmThongTin{
    padding: 10px;
    height: auto;
    box-shadow: 0 0 10px gold;
}
#div-bangchitiet{
    width: 100%;
    margin: auto;
    height: 300px;
    overflow: auto;
    margin-bottom: 30px;
    background-color: rgba(0,0,0,0.4);
    box-shadow: -2px 6px 20px black;
}
#table-bangchitiet{
    -webkit-animation: frmScale 0.5s linear;
    width: 100%;'
    height: auto;
}
/*@-webkit-keyframes frmScale{
    from{
        -webkit-transform: scale(0,0);
    } to {
        -webkit-transform: scale(1,1);
    }
}*/
#bangchitiet{
    color: gold;
    display: inherit;
    width: 100%;
}
#tieudebang{
    width: 100%;
    margin: auto;
    background-color: rgba(184,134,11,0.4);
    font-size: 30px;
    font-weight: bold;
    height: 30px;
    text-shadow: 0 0 10px red;
    box-shadow: -2px 6px 50px black;
    font-family: tahoma;
    -webkit-animation: titleScale 0.5s linear;
}

#bangchitiet > tr {
    width: 100%;
    display: table;
}

#bangchitiet tr td:nth-child(1){
    text-align: left;
 }

#bangchitiet tr:nth-child(odd){
    background: rgba(125, 125, 125, 0.3);
} 

#tieudeXemVe{
    width: 10%;
}
#tieudeNam{
    width: 30%;
}
#tieudeNu{
    width: 60%;
}
/*#bangchitiet > tr > td {
    min-width: 33.33%;
    max-width: 33.33%;
    width: 33%;
}*/
#bangchitiet > tr > td:nth-child(1) {
    min-width: 10%;
    max-width: 10%;
    width: 10%;
    text-shadow: 2px 2px 10px red;
    padding-left: 5px;
}
#bangchitiet > tr > td:nth-child(2) {
    min-width: 30%;
    max-width: 30%;
    width: 30%;
    padding: 10px;
}
#bangchitiet > tr > td:nth-child(3) {
    min-width: 60%;
    max-width: 60%;
    width: 60%;
    padding: 10px;
}
#bangchitiet tr:hover{
    background-color: rgba(131,96,37,0.4);
    box-shadow: 0 0 10px gold;
    text-shadow: 2px 2px 10px red;
    border-radius: 20px;
}
select option{
    background-color: black;
}
a:hover{
    text-shadow: 2px 2px 10px red;
}
#xem-tu-tru button{
    background-color: rgba(184,134,11,0.6);
    color: gold;
	font-weight: bold;
	border: 0;
	transition: 0.2s;
    border: 0;
    padding: 5px;
    box-shadow: 0 0 5px gold;
    border-radius: 10px;
    width: 50%;
    box-shadow: -2px 6px 20px black;
    text-shadow: 2px 2px 10px black;
    -webkit-animation: titleScale 0.5s linear;
    height:100%;
}
#btnGuiThongTinTuVan{
    background-color: rgba(184,134,11,0.6);
    color: gold;
    font-weight: bold;
    border: 0;
    transition: 0.2s;
    border: 0;
    padding: 5px;
    box-shadow: 0 0 5px gold;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 75.5%;
    box-shadow: -2px 6px 20px black;
    text-shadow: 2px 2px 10px black;
    -webkit-animation: titleScale 0.5s linear;
}
.clear{
    clear: both;
}
#frmGuiThongTin{
    background-color: rgba(0, 0, 0, 0.6);
    color: gold;
    box-shadow: 0 0 20px gold;
}
#btnKetHop{
    width: 0px;
    background-color: rgba(0,0,0,0);
    text-shadow: 2px 2px 10px red;
    color: gold;
    border: 0;
    font-size: 20px;
    text-decoration: none;
}
#btnKetHop:hover{
    text-shadow: 2px 2px 10px red;
}
#btnCloseFrmGuiThongTin{
    color: gold;
    text-shadow: 1.5px 1.5px black;
    padding: 5px;
    height: 33px;
    width: 30px;
    border-radius: 5px;
    font-weight: bold;
}
button:not(#btnKetHop):hover{
    transform: scale(1.1,1.1);
    box-shadow: 2px 2px 20px gold;
	text-shadow: 2px 2px 10px red;
}
.btnModal{
    background-color: rgba(0,0,0,0.8);
    color: gold;
    border: 0;
    padding: 5px;
    box-shadow: 0 0 10px gold;
    font-weight: bold;
}
#sdtGui, #content{
    background-color: rgba(0,0,0,0.4); border: 0; box-shadow: 0 0 5px gold; color: gold; font-size: 20px;
}
#sdtGui:focus, #content:focus{
    box-shadow: 0 0 20px gold;
}
select
{
    border: none;
    border-radius: 5px;
}
@media screen and (max-width: 576px){
    #container{
        width: 100%;
        font-size: 16px;
        height: auto;
    }
    #xemve-namxem{
        font-size: 14px;
        padding: 15px;
    }
    #hoten-namsinh select{
        width: 98%;     
        font-size: 14px;
        border: 0;
    }
    #hoten-namsinh-nam, #hoten-namsinh-nu{
        border: 5px solid rgba(0, 0, 0, 0.4);
    }
    button{
        font-size: 14px;
        margin-top: 0px;
    }
    #btnGuiThongTinTuVan{
        width: 100%;
    }
    #sdtGui, #content{
        font-size: 16px;
    }
    #xem-tu-tru{
        margin-top: -10px;
        margin-bottom: -5px;
    }
    #namxem, #xemve{
        width: 100%;
    }
    #btnKetHop
    {
        font-size: 16px;
        padding: 0;
    }
    #tieudebang{
        font-size: 18px;
    }
    #tieudeXemVe{
        width: 12%;
    }
    #tieudeNam{
        width: 45%;
    }
    #tieudeNu{
        width: 43%;
    }
    #bangchitiet > tr > td:nth-child(1) {
        min-width: 15%;
        max-width: 15%;
        width: 15%;
        text-shadow: 2px 2px 10px red;
    }
    #bangchitiet > tr > td:nth-child(2) {
        min-width: 45%;
        max-width: 45%;
        width: 45%;
    }
    #bangchitiet > tr > td:nth-child(3) {
        min-width: 40%;
        max-width: 40%;
        width: 40%;
    }
}