* {
	margin: 0;
	padding: 0;
}

select{
	-webkit-appearance: none;
	background: url("/images/background2.png"),url("/images/dropdown_gold.png");
	background-size: cover,12px 12px;
	background-repeat: no-repeat;
	background-position: center,right;
}

@font-face {
	font-family: thu-phap;
	src: url("/libs/fonts/thuphap.ttf");
}

body, html {
	height: 100%;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
	box-shadow: 0 0 20px gold;
	background-color: rgba(0, 0, 0, 0.8);
	border: 1px solid gold;
	border-radius: 10px;
}

body {
	background: url("/images/background2.png"), url("/images/background1.jpeg");
	background-size: cover, 100% 100%;
	background-position: center;
}

#loaiKH,#tabTrangChu, #tabDangNhap, #tabDangKy, #tabDangXuat, #tabTuVan,#tabDoiMatKhau, #tabKhachHang, #tabKhoiPhuc, #tabCapQuyen {
	background-color: rgba(0, 0, 0, 0);
	color: gold;
	font-weight: bolder;
	font-size: 20px;
	text-shadow: 2px 2px 10px black;
	border: 0;
	padding: 10px;
	padding-left: 12px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	-webkit-animation: buttonRotation 1s linear;
}

#tabTrangChu:hover, #tabDangNhap:hover, #tabDangKy:hover, #tabTuVan:hover,#tabDangXuat:hover, #tabDoiMatKhau:hover, #tabKhachHang:hover, #tabKhoiPhuc:hover, #tabCapQuyen:hover {
	transform: scale(1.05,1.05);
	background-color: rgba(184, 134, 11, 0.4);
	box-shadow: 2px 4px 20px black;
	width: 100%;
	text-align: left;
	border-radius: 10px;
}

#navbar {
	position: absolute;
	width: 100%;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: rgba(184, 134, 11, 0.6);
	box-shadow: -2px 6px 50px black;
}
#tuvan-label{
	position: relative;
	z-index: 100;
	top: -10px;
}
#navbarNavAltMarkup {
	background-color: rgba(184, 134, 11, 0.4);
	border-radius: 20px;
	box-shadow: -2px 6px 20px black;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 10px;
}

#loaiKH {
	color: gold;
	font-weight: bold;
	text-shadow: 2px 2px 10px black;
	margin-right: 10px;
	box-shadow: -2px 6px 20px black;
	border-radius: 10px;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	font-size: 20px;
	padding: 10px;
}

#nav-tabContent {
	margin: auto;
	background: url("/images/background2.png"), url("/images/border1.png");
	-webkit-background-size: cover, 100% 100%;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	height: 100%;
}

#date_time{
	width: 70%;
	margin: auto;
	margin-top: 50px;
	color: gold;
	text-shadow: 2px 2px 10px black;
	font-weight: bold;
	font-size: 20px;
};

.clear {
	clear: bold;
}

.tooltip-button:hover {
	position: relative;
	box-shadow: none;
}

.tooltip-button:hover:after {
	content: attr(value);
	padding: 10px;
	font-weight: normal;
	position: absolute;
	left: 50%;
	top: -50px;
	z-index: 20;
	font-size: 15px;
	height: 70px;
	width: 150px;
	border-radius: 5px;
	word-wrap: break-word;
	display: block;
	text-shadow: 1px 1px black;
	color: gold;
	box-shadow: 0 0 10px gold;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	font-family: sans-serif;
}

#container {
	height: 100%;
	background: url("/images/background2.png");
	background-size: cover;
	background-position: center;
}

#frmDangKy, #frmDangNhap, #frmDoiMatKhau, #frmKhachHang {
	height: 100%;
	width: 100%;
	color: gold;
	font-size: 20px;
	font-weight: bold;
	margin: auto;
	text-shadow: 1.5px 1.5px black;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 0 20px gold;
}

#btnCloseForm {
	height: 24px;
	width: 24px;
	color: gold;
	text-shadow: 2px 2px 10px gold;
	box-shadow: 0 0 5px gold;
	position: absolute;
	display: block;
	top: 10px;
	left: 93%;
}

@keyframes frmScale {
	from {
		-webkit-transform: scale(0.2, 0.2);
	}
	to {
		-webkit-transform: scale(1, 1);
	}
}

#titleDangNhap, #titleDangKy, #titleDoiMatKhau {
	width: 100%;
	height: 50px;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 10px;
	text-align: center;
	font-weight: bold;
	text-shadow: 0 0 5px gold;
	box-shadow: 0 0 20px gold;
	margin-bottom: 25px;
	margin-top: 25px;
}

#frmDangNhap input, #frmDangKy input, #frmDoiMatKhau input {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	border: 0;
	box-shadow: 0 0 5px gold;
	color: gold;
	text-shadow: 1px 1px black;
	border: 0;
	padding: 5px;
}

#idCapQuyen, #idKhoiPhuc {
	width: 100%;
	color: gold;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 5px gold;
	border: 0;
	padding: 5px;
	border-radius: 5px;
}

#idCapQuyen option, #idKhoiPhuc option {
	background-color: black;
}

#frmDangNhap input:focus, #frmDangKy input:focus, #frmDoiMatKhau input:focus {
	box-shadow: 0 0 20px gold;
}

#frmMain {
	background-image: url("/images/old-paper2.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
	width: 50%;
	height: 100%;
	transition: 0.5s;
	-webkit-animation: frmMainScale 0.5s linear;
	padding-top: 100px;
}

#frmMain button {
	background: url("/images/border1.png"), url("/images/background1.jpeg");
	background-size: cover, 100% 100%;
	border: none;
	width: 70%;
	font-size: 28px;
	margin-top: 15px;
	text-shadow: 2px 2px 10px gray;
	color: black;
	font-weight: bold;
	box-shadow: 2px 2px 20px black;
	transition: 0.2s;
	-webkit-animation: buttonRotation 1s linear;
	padding: 5px;
}

#frmMain button:hover {
	font-weight: bolder;
	background-image: url("/images/border1.png"), url("/images/background1.jpeg");
	background-size: cover, 100% 100%;
	-webkit-box-shadow: 1px 3px 150px 35px rgba(230, 230, 25, 0.5);
	-moz-box-shadow: 1px 3px 150px 35px rgba(230, 230, 25, 0.5);
	box-shadow: 1px 3px 150px 35px rgba(230, 230, 25, 0.5);
	transform: scale(1.1, 1.1);
}

/*@-webkit-keyframes frmMainScale {
	from {
		-webkit-transform: scale(0.2, 0.2);
	}
	to {
		-webkit-transform: rotateX(1, 1);
	}
}

@-webkit-keyframes buttonRotation {
	from {
		-webkit-transform: rotateX(180deg);
	}
	to {
		-webkit-transform: rotateX(359deg);
	}
}*/

#loading {
	-webkit-animation: rotation 7s infinite linear;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

#loading {
	-webkit-box-shadow: 1px 3px 192px 35px rgba(230, 230, 25, 0.6);
	-moz-box-shadow: 1px 3px 192px 35px rgba(230, 230, 25, 0.6);
	box-shadow: 1px 3px 192px 35px rgba(230, 230, 25, 0.6);
	border-radius: 50%;
	background: url("/images/background1.jpeg");
	background-size: 100% 100%;
	margin: auto;
}

#functions {
	width: 100%;
	margin: auto;
}

@media screen and (max-width: 960px) {
	#frmMain {
		width: 100%;
	}
	#btnCloseForm {
		top: 8px;
		left: 90%;
	}
}

#btnThemDLKH, #btnSuaDLKH, #btnXoaKH, #chonKH, #btnCapQuyen, #btnKhoiPhuc, #btnDoiMatKhau, #btnDangKy, #btnDangNhap {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	color: gold;
	border: 0;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 0 0 5px gold;
	font-weight: bold;
	transition: 0.2s;
}

#btnThemDLKH, #btnSuaDLKH {
	margin-right: 0;
}

#chonKH:focus, #idKhoiPhuc:focus, #idCapQuyen:focus {
	box-shadow: 0 0 10px gold;
}

#btnSuaDLKH, #btnXoaKH {
	font-weight: bold;
	transition: 0.2s;
}

#btnSuaDLKH:hover, #btnXoaKH:hover, #btnCapQuyen:hover, #btnThemDLKH:hover, #btnKhoiPhuc:hover, #btnDoiMatKhau:hover, #btnDangKy:hover, #btnDangNhap:hover {
	box-shadow: 0 0 20px gold;
	transform: scale(1.1, 1.1);
}

#chonKH {
	background-color: rgba(0, 0, 0, 0.6);
}

#chonKH option {
	background-color: black;
}
#toggler{
	border-radius:5px; background-color: rgba(184,134,11,0.0); box-shadow: 1px 1px 50px black;
	margin-top: 10px;
}
@media screen and (max-width: 576px) {
	#frmMain button {
		font-size: 20px;
	}
	#date_time{
		margin-top: 20px;
		font-size: 18px;
	}
	#loading {
		height: 60px;
		width: 60px;
		margin-top: -20px;
	}
	a:not(#toggler) {
		font-size: 18px;
	}
	#frmDangKy, #frmDangNhap, #frmDoiMatKhau, #frmKhachHang {
		width: 90%;
		height: 90%;
		font-size: 16px;
	}
}

