.no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

* {
  padding: 0;
  margin: 0;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background-color: black;
}

/* Handle */

::-webkit-scrollbar-thumb {
  box-shadow: 0 0 20px gold;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid gold;
  border-radius: 10px;
}

.tooltip-button:hover {
  position: relative;
  box-shadow: none;
}

.tooltip-button:hover:after {
  content: attr(value);
  padding: 10px;
  text-shadow: none;
  font-weight: normal;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 20;
  font-size: 15px;
  height: 150px;
  width: 200px;
  color: gold;
  text-shadow: 1px 1px red;
  border-radius: 5px;
  word-wrap: break-word;
  display: block;
  text-align: justify;
  box-shadow: 0 0 10px gold;
  background-color: rgba(0, 0, 0, 0.8);
}

body {
  background: url("/images/background2.png"), url("/images/background1.jpeg");
  background-size: cover, 100% 100%;
  background-position: center;
  overflow-x: hidden;
}

#container{
  height: auto;
}

#frm-thong-tin-than-chu {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 50px;
  height: auto;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 2px 2px 10px black;
  color: gold;
  -webkit-animation: frmScale 0.5s linear;
}

#tieu-de {
  height: 60px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  text-shadow: 2px 2px 20px red;
  box-shadow: 0 0 20px gold;
  color: gold;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-animation: titleScale 0.8s linear;
}

/* 
@-webkit-keyframes titleScale {
  from {
    -webkit-transform: scale(5, 5);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
} */

.col-2 {
  padding: 10px;
}

.chon-hao {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 2px 2px 20px gold;
}

/* @-webkit-keyframes frmScale {
  from {
    -webkit-transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
} */

#frm-thong-tin-ca-nhan .row {
  margin-bottom: 10px;
}

select {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: -2px 6px 20px black;
  border: 0;
  border-radius: 5px;
  color: gold;
  font-size: 25px;
  padding: 5px;
  text-align-last: center;
  direction: ltr;
  -webkit-appearance: none;
  background: url("/images/background2.png"), url("/images/dropdown_gold.png");
  background-size: cover, 12px 12px;
  background-repeat: no-repeat;
  background-position: center, right;
}

#namxem-thanchu-gioitinh{
  width: 60%;
  margin: auto;
}

select option {
  background-color: black;
}

#nhap-que-dich {
  margin-top: 10px;
  text-align: center;
}

#queso-tenque-tuongque {
  padding: 60px;
}

#tenque {
  font-size: 35px;
  text-align: center;
  text-shadow: 2px 2px 10px red;
  padding-top: 30px;
}

#ynghiaque {
  width: 100%;
  margin: auto;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px gold;
  padding: 15px;
  overflow: auto;
  margin-bottom: 20px;
  font-size: 25px;
}

.hao {
  height: 11.6%;
  margin-top: 10px;
  max-width: 66.66%;
  min-width: 66.66%
  width: 66.66%;
}

#tieu-de-chon-que {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 60px;
}

#tieu-de-thong-tin-than-chu {
  text-shadow: 2px 2px 10px red;
  text-align: center;
  align-self: center;
  margin-bottom: 10px;
}

#chu-y-chon-que {
  text-align: center;
}

#queso {
  padding-top: 45px;
  text-align: center;
}

.hao{
  width: 35%;
}

#quedich{
  padding: 10px;
}
@media screen and (max-width: 1120px){
  .hao {
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    margin-left: -20px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 962px){
  .hao {
    width: 100%;
    max-width: 80%;
    min-width: 80%;
    margin-left: -20px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 762px){
  .hao {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-left: -20px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 576px) {
  #tieu-de {
    font-size: 20px;
    height: 50px;
    margin-bottom: 30px;
  }
  #frm-thong-tin-than-chu {
    font-size: 16px;
    padding: 10px;
    margin: 0;
  }
  select {
    font-size: 16px;
  }
  .chon-hao  {
    font-size: 18px;
  }
  #tenque {
    font-size: 23px;
  }
  #namxem-thanchu-gioitinh {
    padding: 10px;
    width: 100%;
  }
  #namxem-thanchu-gioitinh select {
    margin-bottom: 10px;
    width: 100%;
  }
  #tieu-de-chon-que {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  #nhap-que-dich {
    margin-top: -10px;
  }
  #nhap-que-dich .col-5:not(.chon-hao) {
    padding-top: 10px;
  }
  #chu-y-chon-que {
    font-size: 14px;
  }
  #ynghiaque {
    font-size: 20px;
  }
  #queso-tenque-tuongque {
    padding: 10px;
    padding-bottom: 15px;
    padding-right: 0;
  }
  #queso {
    padding-left: 10px;
  }
  .hao {
    width: 95%;
    max-width: 95%;
    min-width: 95%;
    margin-left: -20px;
    margin-top: 5px;
  }
  #tieu-de-thong-tin-than-chu {
    margin-top: -5px;
    margin-bottom: 0px;
  }
}