a.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
*{
    padding: 0;
    margin: 0;
}
.row:before, .row:after {display: none !important;}
/*.row:before, .row:after {width:0px; height:0px;}*/
/*.row:before, .row:after{
 	display: inline-block;
}*/
option{
	width: 10px;
	height: 10px;

}
input{
	text-align: center;
}
select{
    text-align-last: center;
    direction: ltr;
    padding: 2px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    box-shadow: 0 0 20px gold;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid gold;
    border-radius: 10px;
  }
.day, .month, .year{
	width: 33.33%;
}
.tooltip-button:hover{
    position: relative;
    box-shadow: none;
}
.tooltip-button:hover:after{
    content: attr(value);
    padding: 5px;
   	text-shadow: none;
   	font-weight: normal;
   	position: absolute;
   	left: 0;
   	top: 30px;
   	z-index: 20;
   	font-size: 15px;
    width: 200px;
    color: gold;
    border-radius: 5px;
    word-wrap: break-word;
    display: block;
    text-align: justify;
    box-shadow: 0 0 10px gold;
    background-color: rgba(0,0,0,0.8);
}
@font-face{
    font-family: thu-phap;
    src: url("/libs/fonts/thuphap.ttf");
}
body, html{
	height: 100%;
	overflow-x: hidden;
}
body{
	background: url("/images/background2.png"),url("/images/background1.jpeg");
    background-size: cover,100% 100%;
    background-position: center;
}
#lich{
	text-align: center;
	background-color: rgba(0,0,0,0.3);
	box-shadow: -2px 2px 10px black;
	border-radius: 5px;
	width:100%;
	transition: 0.2s;
	width: 100%;
}
#btnThemNguoiXem{
	width: 100%;
	
	padding: 15px;
	height: 100%;
	text-align: center;
	background-color: rgba(184,134,11,0.6);
	text-shadow: 2px 2px 10px black;
	color: gold;

	border-radius: 10px;
	box-shadow: -2px 6px 50px black;
	transition: 0.2s;
	-webkit-animation: btnRotation 1s linear;
}
#btnThemNguoiXem:hover{
	transform: scale(1.1,1.1);
	box-shadow: 0 0 10px gold;
	text-shadow:  2px 2px 10px red;
}

#container{
	height: auto;
	color: gold;
	font-size: 20px;
	text-shadow: 2px 2px 10px red;
	background-size: 100% 100%;
}
#tieu-de{
	height: 70px;
	width: 100%;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	text-shadow: 2px 2px 20px red;
	box-shadow: 0 0 20px gold;
	margin-bottom: 50px;
	background-color: rgba(0, 0, 0, 0.3);
	font-family: tahoma;
	-webkit-animation: titleScale 0.8s linear;
}
/*@-webkit-keyframes titleScale{
	from{
		-webkit-transform: scale(5,5);
	} to {
		-webkit-transform: scale(1,1);
	}
}*/
#frm-thong-tin-ca-nhan{
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: -2px 6px 30px gold;
	padding: 50px;
	margin: auto;
	height: auto;
	font-weight: bold;
	width: 100%;
	-webkit-animation: frmScale 0.5s linear;
}
/*@-webkit-keyframes frmScale{
	from{
		-webkit-transform: scale(0,0);
	} to {
		-webkit-transform: scale(1,1);
	}
}*/
#frm-thong-tin-ca-nhan .row{
	margin-bottom: 10px;
}
#nut-bam{
	padding: 30px;
}
#nut-bam button{
	padding: 5px;
	width: 100%;
}
input{
	background-color: rgba(0, 0, 0, 0.3);
	color: gold;
	font-weight: normal;
	border: 0;
	border-radius: 5px;
	width: 100%;
	box-shadow: -2px 2px 10px black;
	-webkit-animation: inputRotation 1s linear;
	-webkit-appearance: none;

}
select, #lich{
	background-color: rgba(0,0,0,0.6);
	color: gold;
	font-weight: normal;
	border: 0;
	border-radius: 5px;
	width: 100%;
	box-shadow: -2px 2px 10px black;
	-webkit-animation: inputRotation 1s linear;
	-webkit-appearance: none;
	background: url("/images/background2.png"),url("/images/dropdown_gold.png");
	background-size: cover,12px 12px;
	background-repeat: no-repeat;
	background-position: center,right;
}
/*@-webkit-keyframes inputRotation{
	from{
		-webkit-transform: rotateX(180deg);
	} to {
		-webkit-transform: rotateX(359deg);
	}
}*/
select option{
	background-color: black;
}
input:focus{
	box-shadow: 0 0 30px gold;
}
select:focus{
	box-shadow: 0 0 30px gold;
}
button:not(.tooltip-button){
	background-color: rgba(184,134,11,0.6);
	text-shadow: 2px 2px 10px black;
	color: gold;
	font-weight: bold;
	border: 0;
	transition: 0.2s;
	border-radius: 10px;
	box-shadow: -2px 6px 50px black;
	padding: 15px;
	height: 100%;
	-webkit-animation: btnRotation 1s linear;
	height: 100%;
}
/*@-webkit-keyframes btnRotation{
	from{
		-webkit-transform: rotateX(180deg);
	} to {
		-webkit-transform: rotateX(359deg);
	}
}*/
button:not(.tooltip-button):hover{
	transform: scale(1.1,1.1);
	box-shadow: 0 0 10px gold;
	text-shadow: 2px 2px 10px red;
}
a:hover{
    text-shadow: 0 0 2px gold;
    font-style: normal;
}
.tooltip-button{
    color:gold;
    font-size: 20px;
    text-shadow: 0 0 10px gold;
    background-color: rgba(0, 0, 0, 0);
    width: 0;
    border:0;
    font-weight: bold;
    box-shadow: none;
}
@media screen and (max-width: 576px){
	#frm-thong-tin-ca-nhan{
		font-size: 16px;
		width: 100%;
		padding: 25px;	
	}
	select{
		width: 100%;
	}
	.day, .month, .year{
		display: block;
		width: 100%;
	}
	#nut-bam{
		padding: 0;
		padding-top: 10px;
	}
	button, #btnThemNguoiXem{
		font-size: 14px;
		height: 50px;
		padding: 10px;
	}
	select{
		font-size: 14px;
	}
	#btnThemNguoiXem{
		padding-top: 12px;
	}
	#tieu-de{
		height: 40px;
		font-size: 15px;
		margin-bottom: 30px;
	}
	.tooltip-button:hover:after{
		height: 100px;
		width: 150px;
		font-size: 12px;
	}
}