.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0px;
}
*{
    padding: 0;
    margin: 0;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    box-shadow: 0 0 20px gold;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid gold;
    border-radius: 10px;
  }

html, body{
	height: 100%;
}
body{
	background: url("/images/background1.jpeg");
	background-position: center;
	background-size: 100% 100%;
}
@font-face{
    font-family: thu-phap;
    src: url("/libs/fonts/thuphap.ttf");
}
#container{
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	color: gold;
	font-size: 20px;
}
#frmThongTinThanhVien{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	margin: auto;
	box-shadow:  0 0 10px gold;
	padding: 30px;
	
}
#TieuDe{
	width: 100%;
	margin: auto;
	background-color: rgba(0,0,0,0.6);
	padding: 10px;
	font-size: 50px;
	box-shadow: 0 0 10px gold;
	text-shadow: 2px 2px 20px red;
	font-family: ahoma;
	font-weight: bold;
	margin-bottom: 50px;
	padding-left: 40px;
	box-shadow: 0 0 20px gold;
	-webkit-animation: titleRotation 0.8s linear;

}
@-webkit-keyframes titleRotation{
	from{
		-webkit-transform: rotateX(180deg);
	} to {
		-webkit-transform: rotateX(359deg);
	}
}
#table-title{
	width: 100%;
	margin: auto;
	background-color: rgba(0,0,0,0.6);
	box-shadow: 0 0 10px gold;
	text-shadow: 2px 2px 10px red;
	padding: 10px;
}
#DivThongTinThanhVien{
	width: 100%;
	margin: auto;
	height: 65%;
	overflow: auto;
	box-shadow: -20px 10px 50px black;
	background-color: rgba(0,0,0,0.4);
	-webkit-animation: tableScale 0.5s linear;
}
@-webkit-keyframes tableScale{
	from{
		-webkit-transform: scale(0,0);
	} to {
		-wekbit-transform: scale(1,1);
	}
}
#BangThongTinThanhVien{
	width: 100%;
	background-color: rgba(0,0,0,0.2);
	box-shadow: -20px 10px 50px black;
}
#BangThongTinThanhVien tr td{
	box-shadow: 0 0 5px gold;
	padding: 10px;

}
#BangThongTinThanhVien tr:hover{
	font-weight: bold;
	text-shadow: 2px 2px 10px red;
}
#BangThongTinThanhVien tr:nth-child(even){
	background-color: rgba(131,96,37,0.2);
}
#trovetrangchu{
	text-decoration: none;
	text-decoration: none;
	color: gold;
	font-weight: bold;
	text-shadow: 2px 2px 10px red;
}
	
button{
	background-color: rgba(0,0,0,0.8);
	color: gold;
	text-shadow: 2px 2px 10px red;
	border: 0;
	border-radius: 5px;
	font-size: 18px;
	transition: 0.2s;
	-webkit-animation: titleRotation 0.8s linear;
}
button:hover{
	transform: scale(1.1,1.1);
	box-shadow: 0 0 20px gold;
}
select{
	border: 0;
	background-color: rgba(0,0,0,0.4);
	color: gold;
	-webkit-animation: titleRotation 0.8s linear;
}
select:focus{
	box-shadow: 0 0 20px gold;
}
select option{
	background-color: rgba(131,96,37,0.8);
}