.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0px;
}
*{
    padding: 0;
    margin: 0;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    box-shadow: 0 0 20px gold;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid gold;
    border-radius: 10px;
  }

html, body{
	height: 100%;
}
body{
	background: url("/images/background1.jpeg");
	background-position: center;
	background-size: 100% 100%;
}
#container{
	height: auto;
	background-color: rgba(0,0,0,0.4);
	color: gold;
    font-size: 20px;
    padding: 0;
    overflow-y: auto;
}
#frmThongTinThanhVien{
	height: auto;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	margin: auto;
	box-shadow:  0 0 10px gold;
    padding: 0;
    padding-top: 20px;	
}
#TieuDe{
	width: 100%;
	margin: auto;
	background-color: rgba(0,0,0,0.6);
	padding: 10px;
	font-size: 30px;
	box-shadow: 0 0 10px gold;
	text-shadow: 2px 2px 20px red;
	font-family: tahoma;
	font-weight: bold;
	margin-bottom: 20px;
    box-shadow: 0 0 20px gold;
    -webkit-animation: titleRotation 0.8s linear;
    text-align: center;
}
/* @-webkit-keyframes titleRotation{
	from{
		-webkit-transform: rotateX(180deg);
	} to {
		-webkit-transform: rotateX(359deg);
	}
} */
table tr td:nth-child(1){
    max-width: 10%;
    min-width: 10%;
    width: 10%;
}
table tr td:nth-child(2){
    max-width: 10%;
    min-width: 10%;
    width: 10%;
}
table tr td:nth-child(3){
    max-width: 70%;
    min-width: 70%;
    width: 70%;
}
table tr:not(#table-title) td:nth-child(3){
    text-align: left;
}
table tr td:nth-child(4){
    max-width: 10%;
    min-width: 10%;
    width: 10%;
}
#table-title{
    background-color: rgba(131,96,37,0.6);
    box-shadow: -2px 6px 20px black;
    font-weight: bold;
}
#DivThongTinThanhVien{
    max-height: 650px;
    min-height: 650px;
    height: 650px;
	margin: auto;
    overflow-y: auto;
	box-shadow: -10px 20px 50px black;
	background-color: rgba(0,0,0,0.4);
	-webkit-animation: tableScale 0.5s linear;
}

/* @-webkit-keyframes tableScale{
	from{
		-webkit-transform: scale(0,0);
	} to {
		-wekbit-transform: scale(1,1);
	}
} */
#BangThongTinThanhVien{
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    box-shadow: -20px 10px 50px black;
}
#BangThongTinThanhVien tr td{
    padding: 10px;
    text-shadow: 2px 2px 10px black;
    text-align: center;
    transition: 0.2s;
    box-shadow: 0 0 1px gold;
}
#BangThongTinThanhVien tr:hover{
    font-weight: bold;
    text-shadow: 2px 2px 10px gold;
    box-shadow: 2px 2px 20px gold;
}
#BangThongTinThanhVien tr:nth-child(even){
	background-color: rgba(125,125,125,0.2);
}
#trovetrangchu{
	text-decoration: none;
	text-decoration: none;
	color: gold;
	font-weight: bold;
	text-shadow: 2px 2px 10px red;
}
	
.btnXacNhan{
	background-color: rgba(131,96,37,0.6);
	color: gold;
    text-shadow: 2px 2px 10px black;
    box-shadow: 2px 2px 10px black;
    font-weight: bold;
	border: 0;
    border-radius: 5px;
    padding: 10px;
	transition: 0.2s;
	-webkit-animation: titleRotation 0.8s linear;
}
.btnXacNhan:hover{
	transform: scale(1.1,1.1);
	box-shadow: 0 0 20px gold;
}
select{
	border: 0;
	background-color: rgba(0,0,0,0.4);
	color: gold;
	-webkit-animation: titleRotation 0.8s linear;
}
select:focus{
	box-shadow: 0 0 20px gold;
}
select option{
	background-color: rgba(131,96,37,0.8);
}

@media screen and (max-width: 1120px){
    #TieuDe{
        font-size: 20px;
    }
    #frmThongTinThanhVien{
        font-size: 16px;
    }
    #DivThongTinThanhVien{
        max-height: 450px;
        min-height: 450px;
        height: 450px;
    }
}