*{
    padding: 0;
    margin: 0;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
body,html{
    height: 100%;
}
body {
    background: url("/images/background.jpeg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    text-shadow: 2px 2px black;
}
#container{
    width: 100%;
    margin: auto;
    height: 100%;
}
#left{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    padding: 10px;
}
#right{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    padding: 10px;
}
#title{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100px;
    padding: 2px;
    box-shadow: 0 0 10px gold;
}
#title a:hover{
    font-weight: bold;
}
#title:hover{
    box-shadow: 0 0 50px gold;
}
.title p{
    font-weight: bold;
    text-align: center;
    color: gold;
    text-shadow:  0 0 30px gold;
    font-size: 30px;
    margin-top: 10px;
}
#fullname{
    color: gold;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 1%;
    padding: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.2s;
    box-shadow: 0 0 10px gold;
}
#fullname:hover{
    box-shadow: 0 0 50px gold;
    transform: scale(1.05,1.05);
}
#info-body{
    color: gold;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 2%;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 0 10px gold;
}
#info-body:hover{
    box-shadow: 0 0 50px gold;
}
#more-info-2{
    color: gold;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 1%;
    padding: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.2s;
    box-shadow: 0 0 10px gold;
}
#more-info-2:hover{
    box-shadow: 0 0 50px gold;
    transform: scale(1.05,1.05);
}
#tong-so-ngu-hanh{
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 4%;
    padding: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.2s;
    box-shadow: 0 0 10px gold;
}
#tong-so-ngu-hanh:hover{
    box-shadow: 0 0 50px gold;
    transform: scale(1.05,1.05);
}
#birthday{
    margin: auto;
    width: 99%;
}
#birthday:hover{
    font-weight: bold;
}
.nam-thang-gio{
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: 0.2s;
    box-shadow: 0 0 10px gold;
}
.nam-thang-gio:hover{
    box-shadow: 0 0 50px gold;
    transform: scale(1.05,1.05);
}
.ngay{
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    text-align: center;
    text-shadow:  0 0 30px gold;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: 0.2s;
    box-shadow: 0 0 10px gold;
}
.ngay:hover{
    box-shadow: 0 0 50px gold;
    transform: scale(1.05,1.05);
}
.nam-thang-gio p{
    font-weight: normal;
}
.ngay p{
    font-weight: normal;
    text-shadow: none;
}

#tuoi-mang{
    color: gold;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 1%;
    padding: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    transition: 0.2s;
    box-shadow: 0 0 10px gold;
}
#tuoi-mang:hover{
    box-shadow: 0 0 50px gold;
    transform: scale(1.05,1.05);
}
#van{
    color: gold;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 2%;
    padding: 10px;
    width: 100%;
    height: 915px;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 10px gold;
}
#van:hover{
    box-shadow: 0 0 50px gold;
}
#thapthan p{
    font-weight:bold; padding: 5px;
}